@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global colors */
:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

/* Apply the Poppins font globally */
body {
	@apply font-sans; /* Use Tailwind's font-sans class to apply Poppins */
	color: var(--foreground);
	background: var(--background);
}

/* Optional utility for balanced text */
@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
