@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global padding for the main content to avoid being covered by the fixed header */
.main-content {
	padding-top: 80px; /* Match the header height here */
	background-color: white;
}

/* Global colors */
:root {
	--background: #ffffff;
	--foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #ffffff;
		--foreground: #ffffff;
	}
}

/* Apply the Poppins font globally */
body {
	@apply font-sans; /* Use Tailwind's font-sans class to apply Poppins */
	color: var(--foreground);
	background: var(--background);
}

/* Optional utility for balanced text */
@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
